name: pushopertaions
on:
   push:
      branches: 
        - main
   pull_request:
      branches:
         - main
jobs:
  pushoperation:
    runs-on: ubuntu-latest
    steps:
      - name: pushop
        run: echo "checking"
      
